.App {
  text-align: center;
}
.App-logo {
  height: 80px;
/* animation App-logo-spin infinite 20s linear */
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #fff;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
#App-canvas {
  border: 1px solid #000;
}
.App-button {
  margin-top: 100px;
}
.counter {
  margin: 1% auto;
  font-size: 1.7em;
  width: 20em;
}
/* @keyframes App-logo-spin
0% transform rotate(0deg) 
100% transform rotate(360deg) */
